body {font-family:tahoma,arial,sans-serif; padding:.5em 1em; margin:0; }

/* GLOBAL STYLES */

a { color:#000; text-decoration:none; }
a:hover { text-decoration:underline; }
input { margin-left:.3em; margin-right:.3em; }
img { border-style:none; vertical-align:middle; }
form { margin:0; }

/* MAIN TABLE */

.maintable { font-size:84%; line-height:1.5em; text-align:left; border-bottom:1px solid #888; border-collapse:collapse; margin-top:.1em; margin-bottom:.1em; }
.maintable th, .maintable td { padding:0 .3em; }
.maintable th { line-height:1.8em; background-color:#ECE9D8; border:1px solid #888; }
.maintable tr.d { background-color:#F4F4F4; }
.maintable tr.d:hover, .maintable tr:hover, .maintable tr.hovered { background-color:#D0D8E0; }
.maintable td { border-left:1px solid #888; border-right:1px solid #888; }

.maintable .dl { margin-top:.1em; margin-right:.3em; }
.maintable .dr { margin-top:.2em; margin-bottom:.2em; margin-left:.3em; margin-right:.3em; }

/* CWD TABLE */

.cwdtable { font-size:84%; border-collapse:collapse; margin-top:.2em; margin-bottom:.2em; }
.cwdtable .cur{color:#0000A9;font-weight:bold}
.cwdtable td { padding:0 .3em; }
.cwdtable .dl { margin-top:.1em; margin-right:.3em; }

/* NAV */

.nav { font-size:84%; border-collapse:collapse; margin-top:.3em; margin-bottom:1.4em;}
.nav .cur{font-weight:bold}
.nav td a.num {text-decoration:underline;}
.nav td { padding:0 .2em; }