<h1>Listing dcounts</h1>

<table>
  <tr>
    <th>Ip</th>
    <th>Time</th>
  </tr>

<% @dcounts.each do |dcount| %>
  <tr>
    <td><%=h dcount.ip %></td>
    <td><%=h dcount.created_at %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dcount', new_dcount_path %>