body {font-size: 90%}

#search {padding:0px; margin:0px; height:35px; width:600px; font-size: 120%;}
#search_img {
		width: 16px;
		height: 16px;
		position: absolute;
		display: block;
		right: 0;
		bottom: 0;
}

#maintable {font-size: 80%; line-height:1.5em; text-align:left; border-bottom:1px solid #888; border-collapse:collapse; margin-top:.1em; margin-bottom:.1em; }
#maintable th, #maintable td { padding:0 .3em; white-space:nowrap;}
#maintable th { line-height:1.8em; background-color:#ECE9D8; border:1px solid #888;
	background-image: url(./images/header.png);
	background-repeat: repeat-x;
}
#maintable th:hover{
	background-image: url(./images/header-hover.png);
	border-bottom: 2px solid #FF9C08;
}
#maintable tr.d { background-color:#F4F4F4; }
#maintable tr.d:hover, #maintable tr:hover, #maintable tr.hovered { background-color:#D0D8E0; }
#maintable td { border-left:1px solid #888; border-right:1px solid #888; }

#maintable td:hover, #maintable td.hovered { background-color:#c0c8d0; }


#message-area {
	font-size: 12px;
	font-family: Arial,sans-serif;
	font-weight: bold;
	padding: 3px;
	margin: 0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	position: Fixed;
	z-index: 10000;
	top: 0;
	left: 40%;
}

.info {
background-color: #FFF1A8;
}

.error {
background-color: #FFDDDD;
}

.highlight-match {
	font-weight: bold;
	background-color: #FFF8DC;
}

.order_asc {
	background-image: url(./images/s_asc.png);
}
.order_desc {
	background-image: url(./images/s_desc.png);
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: default;
}

.icon {
	width:16px; height:16px; border:0;
}

.subnav{
	list-style: none;
	float: center;
	position: relative;
	top: 1px;
	margin: 2px;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
}

.subnav-span{
	margin: 5px;
	font-size: 75%
}
.subnav a{
	text-decoration: none;
}

#main_nav_tab {
	font-size: 75%
}